<h1>Edit <%=@user.first_name %></h1>

<%= form_for @user do |f| %> 

<%= f.label :first_name %>
<%= f.text_field :first_name %>

<%= f.label :last_name %>
<%= f.text_field :last_name %>

<%= f.label :age %>
<%= f.text_field :age %>

<%= f.label :weight %>
<%= f.text_field :weight %>

<%= f.label :dob %>
<%= f.text_field :dob %>

<%= f.submit %>

<% end %>

