<h1> Doctor Info </h1>
<% @users.each do |user| %>
<%= user.first_name %>
<%= user.last_name %>
<%= user.age %>
<%= user.weight %>
<%= user.dob %>
<%= link_to 'View User Page', user_path(user) %>
<br>

<% end %>
