<h1><%= @user.first_name %> <%= @user.last_name %>'s Information </h1>

<<%= link_to 'Edit User', edit_user_path(@user) %>>
<<%= link_to 'Delete User', user_path(@user), method: :delete %>>

<%= link_to 'Go back to all users', users_path %>